html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	background: linear-gradient(-30deg, #fb928e, #FEE5B3);
	text-align: center;
	font-max-size: 25px;
	font-min-size: 22px;
	font-family: "Consolas", monospace;
	color: #000000;
}

div {
	margin: auto auto;
}

.page {
	margin-bottom: 20px;
	width: 95%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 }

header {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 3px solid ;
	margin-top: 30px;
	text-align: left;
	font-family: cursive;
	font-size: 20px;
	color: #000;
	border-color: #b32638;
	text-transform: lowercase;
}

input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

.header_button {
	background: none;
	border: none;
	padding: 0;
	font-size: 25px;
	font-weight: bold;
	color: #000;
	transition: color 0.2s linear;
	position: relative;
}

.header_button:hover {
	color: #b32638;
}

#pg1_main  {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#pg1_main > .column {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: stretch;
	margin-left: 5px;
	margin-right: 5px;
}

.info_container {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	border: 2px solid rgba(179, 38, 56, 0.8);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#header_button {
	padding-bottom: 20px;
}

#header_info {
	display: none;
	margin-top: 7px;
}

#graph {
	float: right;
}

#input_block, #input_info {
	min-width: 30%;
	padding: 10px;
}

#input_info {
	max-width: 70%;
}

#input_block div {
	margin: 7px 0 7px 0;
}

label.var_name {
	font-weight: bold;
}

.y_button {
	padding: 2px;
	background: none;
	border: 1px solid rgba(179, 38, 56, 0.8);
	min-width: 30px;
	border-radius: 3px;
}


.y_button.active {
	background-color: rgba(179, 38, 56, 0.2);
	text-shadow: brown 0 0 1px;
}

.warning {
	color: #b32638;
	font-size: 15px;
}

.submit_button {
	background: none;
	border: 1px solid rgba(179, 38, 56, 0.8);
	font-size: 20px;
	padding: 5px;
	width: 120px;
	border-radius: 3px;
	margin: 15px 0 5px 0;
}

.submit_button:hover {
	background-color: rgba(179, 38, 56, 0.8);
	color: white;
	text-shadow: white 0 0 1px;
}

#invalid_request_warning {
	display: none;
}

.next_page_link {
	width: 45px;
	height: 45px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	border: 1px solid white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next_page_link > a {
	text-decoration: none;
	color: #b32638;
	font-size: 25px;
}

#result_wrapper {
	width: 80%
}

#result_wrapper table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	mid-width: 80%;
}

td {
	border: 2px solid #b32638;
	font-size: 18px;
	height: 30px;
	min-height: 25px;
	min-width: 12.5%;
}

tr {
	text-align: center;
}

tr.hit {
	background-color: rgba(255, 255, 255, 0.2);
}

tr.miss {
	background-color: rgba(179, 38, 56, 0.2);
}

tr.header {
	background-color: rgba(179, 38, 56, 0.8);
}

tr.header > td {
	font-size: 25px;
	font-weight: bold;
	min-height: 35px;
}

#invalid_request_warning {
	display: none;
}